{%extends "layout.html" %}
{%block body%}
<div class="container">
    <h1 class="fs-1 m-4">Here are our users!!!</h1>
    <table class="table table-hover table-group-divider">
        <thead>
            <tr>
                <th>id</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Created_at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {%for user in users%}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.first_name}} {{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.created_at}}</td>
                <td>
                    <a href="/users/{{user.id}}" class=" link-warning link-offset-2 link-underline-opacity-25link-underline-opacity-100-hover">Show</a> |
                    <a href="/users/{{user.id}}/edit" class=" link-info link-offset-2 link-underline-opacity-25link-underline-opacity-100-hover">Edit</a> |
                    <a href="/users/delete/{{user.id}}" class=" link-success link-offset-2 link-underline-opacity-25link-underline-opacity-100-hover">Delete</a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <a href="/users/new">Add new users</a>
</div>

{%endblock%}